@import "./vars.less";

html {
  font-size: 10px;
}

body {
  font-family: @font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 8px;
  padding: 0px;
  background: @headerColor;
  font-size: 1.5rem;
  font-weight: 300;
}

main {
  background: @background;
  border-radius: 4px;
  padding: 15px 30px;
  min-height: 93vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @headingFont;
  letter-spacing: 0.004rem;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  -webkit-text-stroke: 0.1px;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}

#root .ag-header {
  .header-font-mixin();
}

.ag-theme-material,
.ag-theme-material .ag-header {
  background-color: @background;
}
