@import "../styles/vars.less";

ul.traffic-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 8px;

  li {
    display: grid;
    grid-template-columns:
      60px 65px 85px 320px
      90px 1fr;
    grid-gap: 8px;

    background: #fff;
    padding: 12px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: @borderRadius;
    line-height: 100%;

    span {
      display: inline-flex;
    }

    &:first-child {
      background: transparent;
      box-shadow: none;
      padding-bottom: 0px;
      margin-bottom: 8px;
      .header-font-mixin();
      border-radius: 0;
      padding-bottom: 2px;
      border-bottom: 1px solid #00000040;

      > [role="columnheader"] {
        cursor: pointer;
        color: @headingColor;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;

        &:not([aria-sort="none"])::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid @headingColor;

          margin-top: 4px;
          margin-left: 3px;
          transition: transform 0.3s ease;

          position: absolute;
          right: 3px;
        }

        &[aria-sort="descending"]::after {
          transform: scaleY(-1);
        }
      }
    }

    &:not(:first-child) {
      cursor: pointer;

      &:hover {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
