@import "../styles/vars.less";

.traffic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}

.travel-patterns > span {
  @travelPatternBorder: 1px solid black;

  display: inline-block;
  padding: 5px;
  border: @travelPatternBorder;
  border-left: none;
  width: 30px;
  text-align: center;
  transition: background 0.3s ease;

  &:first-child {
    border-top-left-radius: @borderRadius;
    border-bottom-left-radius: @borderRadius;
    border-left: @travelPatternBorder;
  }
  &:last-child {
    border-top-right-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
  }

  &.selected {
    background: black;
    color: white;
  }
  &:not(.selected) {
    cursor: pointer;
    &:hover,
    &:active {
      color: white;
    }
    &:hover {
      background: fadeout(black, 30%);
    }
    &:active {
      background: fadeout(black, 20%);
    }
  }
}
